# Pre-commit Hook
pre-commit==4.2.0

# Test Suite
pytest==8.3.5
pytest-cov==6.1.0

# Project Security Scan
bandit==1.8.3

# Code Quality Analysis
pylint==3.3.6
mypy==1.15.0
xenon==0.9.3

# Code Format Check
pycodestyle==2.13.0
pydocstyle==6.3.0
